*{
    box-sizing:border-box;
  }
  
  body{
    background-color: rgb(27,139,143);
    font-family: 'Open Sans', sans-serif;
  }
  
  .container{
    /* min-width: 400px; */
    width:75%;
    /* max-width: 750px; */
    margin: auto;
  }
  
  header{
    text-align: center;
  }
  
  nav{
    background-color:#603b32;
    font-size: 1.6em;
    color: white;
  }
  
  nav > a{
    text-decoration: none;
    color:white;
    display: inline-block;
    width:10em;
    height: 3em;
    line-height: 3em;
  }
  
  nav > a:hover{
    background-color: #8e7b6d;
    transform:translate(25px,40px);
  }
  
  h1, h2, h3{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.4em;
    background-color:#603b32;
    color: white;
    text-align: center;
    padding: 0.5em 0;

  }
  
  h1, h2, h3, main.container > section > img:nth-child(1){
    border-radius: 10px;
  
  }
  
  main.container > section > img:nth-child(1){
    width:75%;
    max-width: 600px;
  }
  
  main.container > aside{
    background-color: white;
    width: 30%;
    display: inline-block;
    padding: 1em;
    text-align: justify;
    line-height: 2em;
  }
  
  main.container > section{
    background-color: #448088;
    width: 70%;
    float:left;
    padding: 1em;
    line-height: 2em;
    color:white;
  }
  
  main.container > section > p{
    margin-bottom: 2em;
  }
  
  @media only screen and (min-width: 560px) and (max-width: 960px){
    /* Pads */
    main.container > aside{
      width: 100%;
    }
    main.container > section{
      width: 100%;
    }
    nav > a{
      width:auto;
    }
  }
  
  @media only screen and (max-width: 560px) {
    /* Phones */
    main.container > aside{
      display: none;
    }
    main.container > section{
      width: 100%;
    }
    nav > a{
      width:100%;
    }
    .container, main.container > section > img:nth-child(1){
      width: 100%;
    }
  
  }